.filter {
    margin-bottom: 2rem;
    margin-top: 4rem;

    &__separator {
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-size: 1.25em;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        user-select: none;
    }
}

@media screen and (max-width: 600px) {
    .filter {
        margin-bottom: 1.5rem;
        margin-top: 3.5rem;
    
        &__separator {
            font-size: 1em;
        }
    }
}