.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    
    &__item {
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-size: 1.75rem;
        padding: 1rem 1.5rem;

        &:nth-child(2n) {
            background-color: $d-main;
        }
    }

    &__item_completed {
        text-decoration: line-through;
    }
}