.root {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 9rem 2rem;
    box-sizing: content-box;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 4.5rem 1rem;
        box-sizing: content-box;
    }
}