.root {
    width: 100%;
}

.container {
    max-width: 600px;
    padding: 9rem 2rem;
    box-sizing: content-box;
    
    &_centered {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 600px) {
    .container {
        padding: 4.5rem 1rem;
        box-sizing: content-box;
    }
}